<div id="main">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <!--heading on the nav bar-->
      <p class="navbar-header">
        <a class="navbar-brand thick">
          <b class="nav-foreground">All Users</b>
        </a>
      </p>


      <p class="navbar-text pull-left vertical-center">
        <a href="javascript:;" (click)="openNav()" class="navbar-link">
          <span class="glyphicon glyphicon-menu-hamburger nav-foreground"></span>
        </a>
      </p>

    </div>
  </nav>

  <div id="mySidebar" class="sidebar">
    <a href="nav-link"  [routerLink]="['/user', username, 'dashboard']">Home</a>
    <a class="nav-link" [routerLink]="['/user/' + username + '/admin-request']">All Requests</a>
    <a class="nav-link" [routerLink]="['/user/' + username + '/admin-user-list']">Registered Users</a>
    <a href="#">Logout</a>
  </div>

  <div class="container">
    <ul class="list-group">
      <li class="list-group-item nhs-table-header colorWhite">
        <div class="row">
          <div class="col-xs-4">
           Username
          </div>
          <div class="col-xs-4">
            Edit
          </div>
          <div class="col-xs-4">
            Delete
          </div>
        </div>
      </li>
      <li *ngFor="let user of users" class="list-group-item nhs-table-content">
        <div class="row">
            <div class="col-xs-4">
              <span>{{user.username}}</span>
            </div>
            <div class="col-xs-4">
              <a  class="nav-link"  [routerLink]="['/user/' + username + '/admin-edit-user/' + user.username]">
                edit
              </a>
            </div>
            <div class="col-xs-4">
              <button class="btn btn-primary pull-right" (click)="adminDeleteUser(user.username)">Delete</button>
            </div>
        </div>
      </li>
    </ul>
    <div class="alert alert-danger error-message register-elements" *ngIf="errorFlag"> {{errorMessage}} </div>
  </div>
</div>

