<div id="main">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">


      <!--heading on the nav bar-->
      <p class="navbar-header">
        <a class="navbar-brand thick">
          <b class="nav-foreground">Profile</b>
        </a>
      </p>

      <p class="navbar-text pull-left vertical-center">
        <a href="javascript:;" (click)="openNav()" class="navbar-link">
          <span class="glyphicon glyphicon-menu-hamburger nav-foreground"></span>
        </a>
      </p>

    </div>
  </nav>

  <div id="mySidebar" class="sidebar">
    <a class="nav-link" [routerLink]="['/user/' + username + '/my-posting']">My Postings</a>
    <a class="nav-link" [routerLink]="['/user/' + username + '/dashboard']">Dashboard</a>
    <a href="#">Profile</a>
    <a href="#">Profile</a>
    <a class="nav-link" [routerLink]="['/login']">Logout</a>
  </div>
</div>

  <div class="container">
  <h2>Welcome {{username}}</h2>

  <input [(ngModel)]="password"
         placeholder="Password"
         class="form-control"/>

  <input [(ngModel)]="firstName"
         placeholder="First Name"
         class="form-control"/>
  <input [(ngModel)]="lastName"
         placeholder="Last Name"
         class="form-control"/>
  <input [(ngModel)]="emailId"
         placeholder="EmailId"
         class="form-control"/>
  <input [(ngModel)]="cellNumber"
         placeholder="Cell Number"
         class="form-control"/>

  <button (click)="updateUser()"
          class="btn btn-primary btn-block">
    Update
  </button>
  <button class="btn btn-danger btn-block register-elements"
          [routerLink]="['/login']">Cancel
  </button>

  </div>

