<div class="container-fluid page-margin">

  <h3><b>PROFILE</b></h3>

  <h2>Welcome {{username}}</h2>


  <input [(ngModel)]="password"
         placeholder="Password"
         class="form-control"/>

  <input [(ngModel)]="firstName"
         placeholder="First Name"
         class="form-control"/>
  <input [(ngModel)]="lastName"
         placeholder="Last Name"
         class="form-control"/>
  <input [(ngModel)]="emailId"
         placeholder="EmailId"
         class="form-control"/>
  <input [(ngModel)]="cellNumber"
         placeholder="Cell Number"
         class="form-control"/>

  <button (click)="updateUser()"
          class="btn btn-primary btn-block">
    Update
  </button>
  <button class="btn btn-danger btn-block register-elements"
          [routerLink]="['/login']">Cancel
  </button>

  <div class="alert alert-danger error-message register-elements" *ngIf="errorFlag"> {{errorMessage}} </div>
</div>
