<!--<div class="container-fluid">-->
<!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <a class="navbar-brand" href="#">Book Exchange</a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarNav">-->
<!--      <ul class="navbar-nav">-->
<!--        &lt;!&ndash;<div *ngIf="username === '';">&ndash;&gt;-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" routerLink="/login">Login</a>-->
<!--          </li>-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--        &lt;!&ndash;<div *ngIf="username === '';">&ndash;&gt;-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" routerLink="/register">Register</a>-->
<!--          </li>-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" routerLink="/profile">Profile</a>-->
<!--        </li>-->
<!--        &lt;!&ndash;<div *ngIf="username === 'admin';">&ndash;&gt;-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" routerLink="/user-admin">Admin Page</a>-->
<!--          </li>-->
<!--        &lt;!&ndash;</div>&ndash;&gt;-->
<!--      </ul>-->
<!--    </div>-->
<!--  </nav>-->

<div id="main">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">


    <!--heading on the nav bar-->
    <p class="navbar-header">
      <a class="navbar-brand thick">
        <b class="nav-foreground">Postings</b>
      </a>
    </p>
<!--    <button class="openbtn" (click)="openNav()">☰ Toggle Sidepanel</button>-->

    <p class="navbar-text pull-left vertical-center">
      <a href="javascript:;" (click)="openNav()" class="navbar-link">
        <span class="glyphicon glyphicon-menu-hamburger nav-foreground"></span>
      </a>
    </p>

  </div>
</nav>

<div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
  <a href="#">Profile</a>
  <a href="#">Profile</a>
  <a href="#">Profile</a>
  <a href="#">Logout</a>
</div>

  <div class="container">
    <ul class="list-group">
      <li *ngFor="let posting of postings" class="list-group-item">
        <div class="row">
          <div class="col-xs-3">
            <span>Seat Count</span>
            <span>{{posting.book.isbn}}</span>
          </div>
          <div class="col-xs-3">
            <span>Status</span>
            <span>{{posting.date}}</span>
          </div>
          <div class="col-xs-3">
            <span>Delay</span>
            <span>{{posting.user.username}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
