<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Book Exchange</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <!--<div *ngIf="username === '';">-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        <!--</div>-->
        <!--<div *ngIf="username === '';">-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
        <!--</div>-->
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <!--<div *ngIf="username === 'admin';">-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-admin">Admin Page</a>
          </li>
        <!--</div>-->
      </ul>
    </div>
  </nav>
  <div class="container">
    <ul class="list-group">
      <li *ngFor="let posting of postings" class="list-group-item">
        <div class="row">
          <div class="col-xs-3">
            <span>Seat Count</span>
            <span>{{posting.book.isbn}}</span>
          </div>
          <div class="col-xs-3">
            <span>Status</span>
            <span>{{posting.date}}</span>
          </div>
          <div class="col-xs-3">
            <span>Delay</span>
            <span>{{posting.user.username}}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>

</div>

