/* You can add global styles to this file, and also import other style files */
body {
  padding-top: 75px;
  padding-bottom: 75px;
}
.navbar-default{
  background-color: #428BCA;
}

.navbar-brand
{
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin:0 auto;
}

.page-margin{
  padding-top: 75px;
  padding-bottom: 75px;
}

.nav-foreground {
  color: white;
  vertical-align: middle;
}

.nav-icon {
  color: white;
  vertical-align: middle;
  height: 30px;
  width: 30px;
}

.nhs-table-header {
  color: white;
  background-color: #428BCA;
  text-align: center;
}

.nhs-table-content {
  text-align: center;
}
