<div class="container-fluid page-margin">

  <h3><b>REGISTER</b></h3>

  <form #f="ngForm" (ngSubmit)=register()>

    <input placeholder="username"
           type="text"
           class="form-control regitser-elements"
           name="username"
           ngModel
           required
           autofocus
           #username="ngModel"/>

    <input placeholder="email"
           type="text"
           class="form-control regitser-elements"
           name="email"
           ngModel
           required
           autofocus
           #email="ngModel"/>

    <input placeholder="password"
           type="password"
           class="form-control regitser-elements"
           name="password"
           ngModel
           required
           #password="ngModel"/>

    <input placeholder="verify password"
           type="password"
           class="form-control regitser-elements"
           name="verifypassword"
           ngModel
           required
           #verifypassword="ngModel"/>

    <input placeholder="firstname"
           type="text"
           class="form-control regitser-elements"
           name="firstname"
           ngModel
           required
           autofocus
           #firstname="ngModel"/>

    <input placeholder="lastname"
           type="text"
           class="form-control regitser-elements"
           name="lastname"
           ngModel
           required
           autofocus
           #lastname="ngModel"/>

    <button class="btn btn-primary btn-block regitser-elements"
            type="submit" [disabled]="!f.valid">Register
    </button>
    <button class="btn btn-danger btn-block regitser-elements"
            [routerLink]="['/login']">Cancel
    </button>
  </form>
  <div class="alert alert-danger error-message regitser-elements" *ngIf="errorFlag"> {{errorMessage}} </div>
</div>
